APP_NAME=TriageFlow
APP_VERSION=0.1.0
ENVIRONMENT=local

HOST=0.0.0.0
PORT=8000


LOG_LEVEL=INFO

DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_NAME=rtpq
DATABASE_USER=rtpq_app
DATABASE_PASSWORD=changeme_app_password
